<p class="content"><a href="https://linkedin.com/in/makyuz"><i class="fas fa-male"></i> Mehmet Akyuz</a></p>
<p class="content">I'm a Sydney 🇦🇺 based Architect with 25+ years of experience.</p>
<p class="content">I have been helping clients from banking, wealth management, insurance, telco and other industries with their large programs and managing end to end architectures. My expertise is in Digital, Enterprise, Integration and Solution architectures. I am also interested in Design Thinking which is one of the other topics of <a href="{{ site.url }}/blog">my blog.</a></p>
<p class="content">I am TOGAF and AWS certified. Yeah, they come in useful.</p>
<p class="content">I'm also fond of 
    <a href="https://www.instagram.com/p/CASlvjgHXCQ/">motorbikes <i class="fas fa-motorcycle"></i></a>, 
    and 
    <a href="https://www.last.fm/user/mak100">music <i class="fas fa-music"></i></a>. 
    I also occasionally <a href="https://github.com/makiato">code <i class="fab fa-github"></i></a> for fun.
</p>
<p class="content">Feel free to connect with me on <a href="https://linkedin.com/in/makyuz"> <i class="fab fa-linkedin"></i> linkedin.com/makyuz</a> & <a href="https://twitter.com/_makyuz"><i class="fab fa-twitter"></i> twitter.com/_makyuz</a></p>
