<p class="content"><a href="https://linkedin.com/in/makyuz"><i class="fa fa-male"></i> Mehmet Akyuz</a></p>
<p class="content">I'm a Sydney based Digital Solutions Architect with 18+ years of technology experience and a shiny TOGAF certificate.</p>
<p class="content">I have been helping clients from finance, insurance, telco and other industries with their large programs and managing end to end architectures. Lately I got more involved in digital transformation initiatives and sharing my thoughts and ideas in <a href="//insights.zettamachine.com">my blog.</a></p>
<p class="content">I'm particularly interested in enterprise architecture, digital thinking and APIs.</p>
<p class="content">I'm also fond of 
    <a href="https://flic.kr/p/SEzDZJ">motorcycles <i class="fa fa-motorcycle"></i></a>, 
    <a href="https://www.instagram.com/mak100/">photography <i class="fa fa-instagram"></i></a> and 
    <a href="https://www.last.fm/user/mak100">music <i class="fa fa-music"></i></a>. 
    I also occasionally <a href="">code <i class="fa fa-github"></i></a> for fun.
</p>
<p class="content">Feel free to connect with me on <a href="https://linkedin.com/in/makyuz"> linkedin.com/makyuz</a> & <a href="https://twitter.com/_makyuz"><i class="fa fa-twitter"></i> twitter.com/_makyuz</a></p>