<form id="zetta-contact-form" class="has-small-padding">
	<div class="field">
	    <label class="label">Name</label>
        <div class="control has-icons-left">
			<input class="input" id="zetta-contact-name" type="name" placeholder="Name">
			<span class="icon is-small is-left"><i class="fa fa-user"></i></span>
		</div>
	</div>
	<div class="field">
		<label class="label">Email</label>
		<div class="control has-icons-left">
			<input class="input" id="zetta-contact-replyto" type="_replyto" placeholder="Email">
			<span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
		</div>
	</div>
							<div class="field">
								<label class="label">How can I help?</label>
								<div class="control">
									<textarea class="textarea" id="zetta-contact-message" name="message" placeholder="e.g. Hello zettamachine"></textarea>
								</div>
							</div>
							<div class="control is-gray">
								<button class="button is-link has-background-dark">Submit</button>
							</div>
						</form>


<form id="my-form"
  action="https://formspree.io/hello@zettamachine.com"
  method="POST"
>
  <label>Email:</label>
  <input type="email" name="email" />
  <label>Message:</label>
  <input type="text" name="message" />
  <button id="my-form-button">Submit</button>
  <p id="my-form-status"></p>
</form>

<!-- Place this script at the end of the body tag -->

<script>
  window.addEventListener("DOMContentLoaded", function() {

    // get the form elements defined in your form HTML above
    
    var form = document.getElementById("my-form");
    var button = document.getElementById("my-form-button");
    var status = document.getElementById("my-form-status");

    // Success and Error functions for after the form is submitted
    
    function success() {
      form.reset();
      button.style = "display: none ";
      status.innerHTML = "Thanks!";
    }

    function error() {
      status.innerHTML = "Oops! There was a problem.";
    }

    // handle the form submission event

    form.addEventListener("submit", function(ev) {
      ev.preventDefault();
      var data = new FormData(form);
      ajax(form.method, form.action, data, success, error);
    });
  });
  
  // helper function for sending an AJAX request

  function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState !== XMLHttpRequest.DONE) return;
      if (xhr.status === 200) {
        success(xhr.response, xhr.responseType);
      } else {
        error(xhr.status, xhr.response, xhr.responseType);
      }
    };
    xhr.send(data);
  }
</script>