<form id="zetta-contact-form" class="has-small-padding">
							<div class="field">
								<label class="label">Name</label>
								<div class="control has-icons-left">
									<input class="input" id="zetta-contact-name" type="name" placeholder="Name">
									<span class="icon is-small is-left">
      								<i class="fa fa-user"></i>
    							</span>
								</div>
							</div>
							<div class="field">
								<label class="label">Email</label>
								<div class="control has-icons-left">
									<input class="input" id="zetta-contact-replyto" type="_replyto" placeholder="Email">
									<span class="icon is-small is-left">
      								<i class="fa fa-envelope"></i>
    							</span>
								</div>
							</div>
							<div class="field">
								<label class="label">How can I help?</label>
								<div class="control">
									<textarea class="textarea" id="zetta-contact-message" name="message" placeholder="e.g. Hello zettamachine"></textarea>
								</div>
							</div>
							<div class="control is-gray">
								<button class="button is-link has-background-dark">Submit</button>
							</div>
						</form>