    	<nav class="navbar is-transparent has-transparent-background is-fixed-top" role="navigation"
			aria-label="main navigation">
			<div class="container is-fluid">
				<div class="navbar-brand"> 
                    <div class="navbar-item">
                        <a href="/">
                            <img src="{{ "/images/zettamachine.logo.digitalthinking.jpg?v=" | append: site.github.build_revision | relative_url }}" alt="zettamachine - digital thinking - enterprise architecture" />
                        </a>
                    </div>
					<div class="navbar-burger burger" data-target="zetta-burger">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="zetta-burger" class="navbar-menu">
					<div class="navbar-end">
						<a href="/blog" class="navbar-item title">
							Blog
						</a>
						<a href="/#zetta-contact" class="navbar-item title">
							Contact
						</a>
						<a href="/#zetta-about" class="navbar-item title">
							About
						</a>
                        <div class="navbar-item is-hidden-mobile"></div>
					</div>
				</div>
			</div>
		</nav>