<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<link rel="stylesheet" href="{{ "/styles/zettamachine.css?v=" | append: site.github.build_revision | relative_url }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Raleway" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"> </script> 
    <![endif]-->

    {% include tag.start.html %}
</head>

<body class="blog-body" ci-bg-url="/images/david.wrapper.jpg">
    {% include tag.end.html %}
	<div class="blog-wrapper">

        <!-- Navigation bar-->
        {% include nav.html %}

        <section class="section"></section>
        <section class="section">
			<div class="container is-fluid">
                <div class="columns">
                    <div class="column is-2"></div>
                    <div class="column is-2">
                        <div class="sidebar is-hidden-mobile"> 
                            <div class="tile is-ancestor">
                                <div class="tile is-vertical">
                                <div class="tile is-child sub-logo" onclick="location.href = '/';">
                                    <p class="logo-1">zettabyte</p>
                                    <p class="logo-2">/ˈzɛtəbʌɪt/</p>
                                    <p>
                                        <span class="logo-3">noun</span>
                                        <span class="logo-4">COMPUTING</span>
                                    <p>
                                    <p class="logo-5">a unit of information equal to one sextillion (1021) or, strictly, 270 bytes.</p>
                                </div> 
                                <div class="tile is-child latest-posts">
                                    <p class="latest-posts-title">latest posts</p>
                                    <ul>
                                    {% for post in site.posts limit:3 %}
                                        <li><a class="content" href="{{ post.url}}">{{ post.title}}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        {{content}}
                    </div>
                    <div class="column is-2"></div>
			    </div>
			</div>
        </section>

        {% include footer.html %}

	</div>
   <script src="{{ "/scripts/zettamachine.js?v=" | append: site.github.build_revision | relative_url }}"> </script> 

    {% include plugin-scripts.html %}
</body>
</html>