html {
	background: transparent;
}
body {
	font-family: 'Roboto Slab';
	background: rgb(31,32,34);
}
.wrapper {
    background: transparent url('../images/david.wrapper.jpg') no-repeat center center;
	background-size: cover;
	height: auto;
	max-height: 100vh;
}
.vertical-gap {
	height: 65vh;
}
.is-front-image {
	position: relative;
}
.is-front-image:after {
	position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
    background: rgba(3, 44, 53, 0.4);
    mix-blend-mode: multiply
}
.navbar {
    background: rgb(31,32,34);
}
.navbar-menu a, .title {
	font-family: 'Raleway';
}
.is-fixed-background {
    background-attachment: fixed;
}
.article {
    
}
.header {
    float: left; position: fixed;
}